{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block content %}
    <!-- Inside Title -->
    <div class="inside_title image_bck bordered_wht_border white_txt" data-image="{% static 'images/nosotros.jpg' %}">
        <!-- Over -->
        <div class="over" data-opacity="0.2" data-color="#000"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Quienes somos</h1></div>
            </div>
        </div>
    </div>
    <!-- Inside Title End -->
    <!-- Welcome -->
    <section class="boxes" id="welcome">
        <div class="container-fluid">
            <div class="row">

                <!-- col -->
                <div class="col-md-12 bordered_block grey_border">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Nexofin</h2>
                                <!--<h4 class="subtitle">Have a questions? </h4>-->
                                <p>
                                {% placeholder quienes_somos or%}
                                Nexofin SAC se constituyó en el 2015 y está conformado por un equipo de profesionales que combinan experiencia en
                                banca, finanzas, banca de inversión e infraestructura, ofreciendo soluciones a la medida.

                                Proveemos un    servicio   profesional   de   excelencia   en   asesoría  de   Inversiones en  Infraestructura (Inmobiliaria),
                                Compra y Venta de Negocios en Marcha y Proyectos, e intermediación financiera y Capital de Trabajo

                                {% endplaceholder %}
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Col End -->
            </div>

            <!-- Welcome Image -->
            <div class="intro_image intro_text_rb text-center z0 wow fadeInUp" data-wow-duration="2s">
                <img src="{% static 'images/businessman.png' %}" alt="">
            </div>
        </div>
    </section>




{% endblock %}
