{% load staticfiles i18n cms_tags sekizai_tags menu_tags static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% page_attribute "page_title"%}</title>

<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/docs.min.css' %}" rel="stylesheet">

<!-- Font Awesome CSS -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'fonts/themify-icons.css' %}" rel="stylesheet">


<!-- Owl Carousel CSS -->
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">

<!-- Build Icons -->
<link rel="stylesheet" href="{% static 'fonts/build/flaticon.css' %}">

<!-- Theme CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

{% render_block "css" %}
{{ ALDRYN_SNAKE.render_head }}


</head>
<body>
    {% cms_toolbar %}


<!-- Passpartu -->
<div class="passpartu passpartu_left"></div>
<div class="passpartu passpartu_right"></div>
<div class="passpartu passpartu_top"></div>
<div class="passpartu passpartu_bottom"></div>
<!-- Passpartu End -->

<div class="page" id="page">

    <div class="head_bck" data-color="#292929"  data-opacity="0.5"></div>

    <!-- Header -->
    <header class="simple_menu" style="background-color:black;">

        <!-- Logo -->
        <div class="pull-left">
            <a href="/"> <img style="
                height: 57px;
                float: left;
                display: block;"
            src="{% static 'images/logo-nexofin.png' %}"></img>
            </a>
        </div>


        <!-- Header Buttons -->
        <div class="header_btns_wrapper">

            <!-- Main Menu Btn -->
            <div class="main_menu"><i class="ti-menu"></i><i class="ti-close"></i></div>

            <!-- Sub Menu -->
            <div class="sub_menu">
                <div class="sub_cont">
                    <ul>
                        {% show_menu 0 0 100 100 %}

                    </ul>


                </div>
            </div>
            <!-- Sub Menu End -->

        </div>
        <!-- Header Buttons End -->

        <!-- Up Arrow -->
        <a href="#page" class="up_block go"><i class="fa fa-angle-up"></i></a>

    </header>
    <!-- Header End -->


{% block content %}{% endblock %}

<!-- Slider Border -->
<div class="after_slider_border"></div>



<!-- Footer -->
<div class="footer white_txt bordered_wht_border image_bck" data-color="#0e0e0e">
    <!-- <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="logo text-left">
                    <a href="#"><b>Nexofin</b></a>
                </div>
                {% placeholder 'Footer Nexofin' or %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
                {% endplaceholder %}
            </div>


            <div class="col-md-3 col-sm-3 hidden-xs">
                <div class="widget">
                    <h4>Contacto</h4>
                    <span class="contacts_ti ti-mobile"></span>+11 (0) 200 1111 001<br />
                    <span class="contacts_ti ti-email"></span><a href="mailto:info@nexofin.com">info@nexofin.com</a><br />
                    <span class="contacts_ti ti-location-pin"></span>Thomas Ramsey 925, Magdalena del Mar, Lima, Peru
                </div>
            </div>

        </div>

    </div> -->
    <!-- Container End -->

    <!-- Footer Copyrights -->
    <div class="footer_end">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">&copy; Todos los Derechos Reservados @ Copyright Nexofin S.A.C. - Perú</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Telefono: +11 (0) 200 1111 001">
                                <i class="ti-mobile"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@nexofin.com" data-toggle="tooltip" data-placement="top" title="Mail: info@nexofin.com">
                                <i class="ti-email"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://maps.google.com/maps?q=loc:-12.092151, -77.058489" data-toggle="tooltip" data-placement="top" title="Direccion: Thomas Ramsey 930, Magdalena del Mar, Lima, Peru">
                                <i class="ti-location-pin"></i>
                            </a>

                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="ti-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyrights End -->


</div>
<!-- Footer End -->


</div>
<!-- Page End -->



<!-- JQuery -->
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<!-- WL Carousel JS -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- PrefixFree -->
<script src="{% static 'js/prefixfree.min.js' %}"></script>
<!-- Magnific Popup core JS file -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Textillate -->
<script src="{% static 'js/jquery.lettering.js' %}"></script>
<!-- Countdown -->
<script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!-- JQuery UI -->
<script src="{% static 'js/jquery-ui.js' %}"></script>
<!-- Wow -->
<script src="{% static 'js/wow.js' %}"></script>
<!-- Masonry -->
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Theme JS -->
<script src="{% static 'js/script.js' %}"></script>

<!-- django CMS -->
{% render_block "js" %}

<!-- Divio Cloud -->
{{ ALDRYN_SNAKE.render_tail }}

</body>
</html>
