{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block content %}
    <!-- Inside Title -->
    <div class="inside_title image_bck bordered_wht_border white_txt" data-image="{% static 'images/nosotros.jpg' %}">
        <!-- Over -->
        <div class="over" data-opacity="0.2" data-color="#000"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Contacto</h1></div>
            </div>
        </div>
    </div>

    <section class="intro" >

            <div class="intro_item">

                <!-- Over -->
                <div class="over" data-opacity="0.4" data-color="#000"></div>
                <div class="into_back image_bck"></div>


                <div class="inside_intro_block">
                    <div class="ins_int_item white_txt bordered_wht_border text-center">
                        <div class="simple_block simple_block_sml">
                            <h4>Escríbenos</h4>
                            <form>
                                <input type="text" id="name" class="form-control form-opacity" placeholder="Nombre*">
                                <input type="text" id="email" class="form-control form-opacity" placeholder="E-mail*">
                                <input type="text" id="phone" class="form-control form-opacity" placeholder="Telefono">
                                <textarea placeholder="Mensaje" id="message" class="form-control form-opacity" ></textarea>
                                <input type="submit" class="btn btn-white submit" value="Enviar">
                            </form>
                        </div>
                    </div>
                </div>

            </div>

    </section>




{% endblock %}
