{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block content %}
    <!--Intro-->
    <section class="intro" >

            <!-- Down Arrow -->
            <a href="#welcome" class="down_block go"><i class="fa fa-angle-down"></i></a>

            <div class="intro_item">

                <!-- Over -->
                <div class="over" data-opacity="0.4" data-color="#000"></div>
                <div class="into_back image_bck"  data-image="{% static 'images/office.jpg' %}"></div>
                <div class="text_content active">
                    <div class="intro_text intro_text_cb text-center text_small text_up">
                        <span class="great_title">{% placeholder texto_superior %}</span>
                        <span class="great_subtitle great_subtitle_big">{% placeholder texto_medio %}</span>
                        <span class="intro_soc">
                            <a href="mailto:info@nexofin.com"><i class="ti-email" style="font-size:22px"></i></a>
                            <a href="#"><i class="ti-facebook" style="font-size:22px"></i></a>
                        </span>
                        <span><a href="/quienes-somos/" class="btn btn-white">Conócenos</a></span>
                    </div>
                </div>
            </div>

    </section>
    <!-- Intro End -->

    <section class="boxes" id="contacts">
        <div class="container-fluid">

            <div class="row">

                <!-- Contacts -->
                <div class="col-md-6 bordered_block image_bck bordered_wht_border white_txt" data-color="#292929">
                    <div class="col-md-12 simple_block text-left">
                        <h3>¿Por qué confiar en nosotros?</h3>

                        {% placeholder "confiar" or %}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        {% endplaceholder %}
                    </div>
                </div>

                <!-- Write Us -->
                <div class="col-md-6 bordered_block image_bck bordered_wht_border white_txt" data-color="#292929">
                    <div class="col-md-12 simple_block text-left">
                        <h3>Escribenos</h3>
                        <form id="write_us" class="form">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" id="name" class="form-control form-opacity" placeholder="Nombre*">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="email" class="form-control form-opacity" placeholder="E-mail*">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="phone" class="form-control form-opacity" placeholder="Telefono">
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Mensaje" id="message" class="form-control form-opacity"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-white submit" value="Enviar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Write Us End -->

            </div>
            <!-- Row End -->
        </div>
    </section>
    <!-- Contacts End -->


{% endblock %}
