<!-- Services SLider -->
<section class="boxes reviews" id="services">
    <div class="container-fluid">

        <!-- Title -->
        <h4 class="sml_abs_title in">Our Services</h4>

        <!-- Wrapper -->
        <div class="mid_wrapper">

            <!-- Item -->
            <div class="bordered_block bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <h4><span>Irure dolor in reprehenderit</span></h4>
                <div class="box_content text-center">
                    <div class="icon"><span class="ti-marker"></span></div>
                    <h3>Irure dolor in reprehenderit</h3>
                    Duis aute irure dolor in reprehenderit
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <h4><span>Voluptate velit</span></h4>
                <div class="box_content text-center">
                    <div class="icon"><span class="ti-ruler-pencil"></span></div>
                    <h3>Voluptate velit</h3>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <h4><span>Dolore eu fugiat</span></h4>
                <div class="box_content text-center">
                    <div class="icon"><span class="ti-comment-alt"></span></div>
                    <h3>Dolore eu fugiat</h3>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <h4><span>Reprehenderit in voluptate</span></h4>
                <div class="box_content text-center">
                    <div class="icon"><span class="ti-thought"></span></div>
                    <h3>Reprehenderit in voluptate</h3>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur
                </div>
            </div>

        </div>
        <!-- Wrapper End -->
    </div>
</section>
<!-- Services End -->



<!-- Welcome -->
<section class="boxes" id="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bordered_block grey_border image_bck" data-image="images/white_back.jpg">
                <div class="container">
                    <div class="col-md-7">
                        <h3>Welcome to Berg Corporate</h3>
                        <h4 class="subtitle">Aboris nisi ut aliquip ex ea commodA</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="intro_image intro_text_rb text-center z0 wow fadeInUp" data-wow-duration="2s">
            <img src="{% static 'images/girl3.png' %}" alt="">
        </div>
    </div>
</section>
<!-- Welcome End -->


<!-- Add -->
<section class="boxes">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bordered_block bordered_wht_border white_txt image_bck text-center" data-color="#292929">
                <div class="container">
                        <span class="great_title great_title_big">LET'S GET OFFER !</span>
                        <h4 class="subtitle">Incididunt ut labore et dolore magna</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br />
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span><a href="#" class="btn btn-white">See More</a><a href="#" class="btn btn-white">Purchase</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Add End -->


<!-- Projects Text -->
<section class="boxes" id="projects">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 bordered_block grey_border image_bck" data-image="images/white_back.jpg">
                <div class="container">
                    <div class="col-md-7">
                        <h3>RECENT PROJECTS</h3>
                        <h4 class="subtitle">FOUR GENERATIONS, ONE PHILOSOPHY.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                </div>
            </div>
            <div class="intro_image intro_text_rb text-center z0 wow fadeInUp" data-wow-duration="2s">
                <img src="{% static 'images/girl4.png' %}" alt="">
            </div>
        </div>
        <!-- Row End -->

    </div>
</section>
<!-- Projects End -->


<!-- Projects -->
<section class="boxes reviews">
    <div class="container-fluid">

        <!-- Title -->
        <h4 class="sml_abs_title wow fadeInUp">Projects</h4>


        <!-- Wrapper -->
        <div class="mid_wrapper">

            <!-- Item -->
            <div class="bordered_block flex_block image_bck bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <a href="#" class="box_link"></a>
                <div class="box_content text-center">
                    <h3>Ded do eiusmod tempor</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block flex_block image_bck bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <a href="#" class="box_link"></a>
                <div class="box_content text-center">
                    <h3>Commodo consequat</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block flex_block image_bck bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <a href="#" class="box_link"></a>
                <div class="box_content text-center">
                    <h3>Ut enim ad minim veniam</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block flex_block image_bck bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <a href="#" class="box_link"></a>
                <div class="box_content text-center">
                    <h3>Exercitation ullamco</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block flex_block image_bck bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <a href="#" class="box_link"></a>
                <div class="box_content text-center">
                    <h3>Nisi ut aliquip</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </div>
            </div>

            <!-- Item -->
            <div class="bordered_block flex_block image_bck bordered_over">
                <div class="image_over image_bck" data-image="http://placehold.it/960x640/"></div>
                <a href="#" class="box_link"></a>
                <div class="box_content text-center">
                    <h3>Ut labore et dolore</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </div>
            </div>



        </div>
        <!-- Wrapper End -->


    </div>
</section>
<!-- Projects End-->

<!-- Text Block-->
<section class="boxes" id="welcome">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5 bordered_block image_bck white_txt" data-color="#292929">
                <div class="simple_block text-left">
                    <h3 class="wow fadeInUp">Fugiat nulla</h3>
                    <h4 class="subtitle wow fadeInUp" data-wow-delay="0.2s">Aliquip ex ea commodo</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>

            <!--Image-->
            <div class="col-md-7 image_bck bordered_block height400" data-image="http://placehold.it/1920x1100/">
                <div class="simple_block text-left white_txt">

                </div>
            </div>

        </div>
        <!--Row End-->

    </div>
</section>
<!--Text Block End-->

<!--Text Block-->
<section class="boxes">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-7 image_bck bordered_block height400" data-image="http://placehold.it/1920x1100/">
                <div class="simple_block text-left white_txt">

                </div>
            </div>

            <div class="col-md-5 bordered_block image_bck white_txt" data-color="#292929">
                <div class="simple_block text-left">
                    <h3 class="wow fadeInUp">Excepteur sint occaeca</h3>
                    <h4 class="subtitle wow fadeInUp" data-wow-delay="0.2s">Reprehenderit in voluptate</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </div>
            </div>

        </div>
        <!--Row End-->

    </div>
</section>
<!--Text Block End-->


<!--Text Block-->
<section class="boxes">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5 bordered_block image_bck white_txt" data-color="#292929">
                <div class="simple_block text-left">
                    <h3 class="wow fadeInUp">Enim ad minim veniam</h3>
                    <h4 class="subtitle wow fadeInUp" data-wow-delay="0.2s">Irure dolor in reprehenderit</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
                    </p>
                </div>
            </div>

            <div class="col-md-7 image_bck bordered_block height400" data-image="http://placehold.it/1920x1100/">
                <div class="simple_block text-left white_txt">

                </div>
            </div>
        </div>
        <!--Row End-->

    </div>
</section>
<!--Text Block End-->

<!--Text Block-->
<section class="boxes">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-7 image_bck bordered_block height400" data-image="http://placehold.it/1920x1100/">
                <div class="simple_block text-left white_txt">

                </div>
            </div>

            <div class="col-md-5 bordered_block image_bck white_txt" data-color="#292929">
                <div class="simple_block text-left">
                    <h3 class="wow fadeInUp">Ullamco laboris nisi ut aliquip</h3>
                    <h4 class="subtitle wow fadeInUp" data-wow-delay="0.2s">Eu fugiat nulla pariatur</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
                    </p>
                </div>
            </div>
        </div>
        <!--Row End-->

    </div>
</section>
<!--Text Block End-->

<!-- Why -->
<section class="boxes" id="why">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 bordered_block grey_border">
                <div class="container">

                    <h3 class="text-center">Why Choose Us? </h3>

                    <!-- Wrapper -->
                    <div class="mid_wrapper">

                        <!-- Item -->
                        <div class="mid_box text-center">
                            <div class="icon"><span class="ti-tablet"></span></div>
                            <h5>We’re Creative</h5>
                            <p>Lorem ipsum dolor sit amet, c-r adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim. </p>
                        </div>

                        <!-- Item -->
                        <div class="mid_box text-center">
                            <div class="icon"><span class="ti-ruler-pencil"></span></div>
                            <h5>We’re Punctual</h5>
                            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum orci sit amet, iaculis libero. </p>
                        </div>

                        <!-- Item -->
                        <div class="mid_box text-center">
                            <div class="icon"><span class="ti-marker"></span></div>
                            <h5>WWe have magic</h5>
                            <p>Curabitur iaculis accumsan augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta. Nulla facilisi. Suspendisse ultricies eros blandit. </p>
                        </div>

                        <!-- Item -->
                        <div class="mid_box text-center">
                            <div class="icon"><span class="ti-comment-alt"></span></div>
                            <h5>We love minimalism</h5>
                            <p>Cras luctus interdum sodales. Quisque quis odio dui. Sedes sit amet neque malesuada, lobortis commodo magna ntesque pharetra metus vivera sagittis.</p>
                        </div>

                        <!-- Item -->
                        <div class="mid_box text-center">
                            <div class="icon"><span class="ti-thought"></span></div>
                            <h5>We’re responsible</h5>
                            <p>Fusce aliquet quam eget neque ultrices elementum. Nulla posuere felis id arcu blandit sagittis. Eleifender vestibulum purus, sit amet vulputate risus. </p>
                        </div>

                        <!-- Item -->
                        <div class="mid_box text-center">
                            <div class="icon"><span class="ti-notepad"></span></div>
                            <h5>We're Friendly</h5>
                            <p>Pulvinar vitae neque et porttitor. Integer non dapibus diam, ac eleifend lectus. Praesent sed nisi eleifend, fermentum orci sit amet, iaculis libero interdum. </p>
                        </div>
                    </div>
                    <!-- Wrapper End -->

                </div>

            </div>
        </div>
        <!-- Row End -->

    </div>
</section>
<!-- Why End -->

<!-- Contacts -->
<section class="boxes" id="contacts">
    <div class="container-fluid">

        <div class="row">

            <!-- Contacts -->
            <div class="col-md-6 bordered_block image_bck bordered_wht_border white_txt" data-color="#292929">
                <div class="col-md-12 simple_block text-left">
                    <h3>Contacts</h3>
                    <span class="contacts_ti ti-mobile"></span>+11 (0) 200 1111 001<br />
                    <span class="contacts_ti ti-mobile"></span>+11 (0) 200 1111 002<br />
                    <span class="contacts_ti ti-email"></span><a href="mailto:support@theberg.com">support@theberg.com</a><br />
                    <span class="contacts_ti ti-location-pin"></span>Australia place nice, RD nice DHA Road, state pace 786

                    <h4 class="newsletter_title">
                        Stay informed with our newsletter
                    </h4>
                            <input placeholder="Enter Your Email" class="form-control form-opacity no-margin newsletter_input" type="email" required/>

                            <button type="submit" class="btn btn-default">
                                Subscribe
                            </button>
                    <div class="form-tip">
                        <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                    </div>
                </div>
            </div>

            <!-- Write Us -->
            <div class="col-md-6 bordered_block image_bck bordered_wht_border white_txt" data-color="#292929">
                <div class="col-md-12 simple_block text-left">
                    <h3>Write Us</h3>
                    <form id="write_us" class="form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="name" class="form-control form-opacity" placeholder="Name*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="surname" class="form-control form-opacity" placeholder="Surname*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="city" class="form-control form-opacity" placeholder="City">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="country" class="form-control form-opacity" placeholder="Country">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="email" class="form-control form-opacity" placeholder="E-mail*">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="phone" class="form-control form-opacity" placeholder="Phone">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Message" id="message" class="form-control form-opacity"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-white submit" value="Send">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Write Us End -->

        </div>
        <!-- Row End -->
    </div>
</section>
<!-- Contacts End -->
