<!--Text Block-->
<section class="boxes">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5 bordered_block image_bck white_txt" data-color="#292929">
                <div class="simple_block text-left">
                    <h3 class="wow fadeInUp">Enim ad minim veniam</h3>
                    <h4 class="subtitle wow fadeInUp" data-wow-delay="0.2s">Irure dolor in reprehenderit</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
                    </p>
                </div>
            </div>

            <div class="col-md-7 image_bck bordered_block height400" data-image="http://placehold.it/1920x1100/">
                <div class="simple_block text-left white_txt">

                </div>
            </div>
        </div>
        <!--Row End-->

    </div>
</section>
<!--Text Block End-->

<!--Text Block-->
<section class="boxes">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-7 image_bck bordered_block height400" data-image="http://placehold.it/1920x1100/">
                <div class="simple_block text-left white_txt">

                </div>
            </div>

            <div class="col-md-5 bordered_block image_bck white_txt" data-color="#292929">
                <div class="simple_block text-left">
                    <h3 class="wow fadeInUp">Ullamco laboris nisi ut aliquip</h3>
                    <h4 class="subtitle wow fadeInUp" data-wow-delay="0.2s">Eu fugiat nulla pariatur</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
                    </p>
                </div>
            </div>
        </div>
        <!--Row End-->

    </div>
</section>
