{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block content %}
    <!-- Inside Title -->
    <div class="inside_title image_bck bordered_wht_border white_txt" data-image="{% static 'images/servicios.jpg' %}">
        <!-- Over -->
        <div class="over" data-opacity="0.2" data-color="#000"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Servicios</h1></div>
            </div>
        </div>
    </div>

    <!-- Inside Title End -->

    <!--Team-->
    <section class="boxes reviews">
        <div class="container-fluid">

            <!-- Title -->
            <h4 class="sml_abs_title wow fadeInUp">Nuestros Servicios</h4>

            <!--Wrapper-->
            <div class="mid_wrapper">

                <!--Item-->
                <div class="bordered_block flex_block image_bck bordered_over">
                    <div class="image_over image_bck" data-image="{% static 'images/InvInmo.png' %}"></div>
                    <div class="box_content text-center">
                        <h3>Inversión en Infraestructura e Inmuebles</h3>
                        {% placeholder 'Inversion en Infra. e Inmuebles' or%}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt.
                        {% endplaceholder %}
                    </div>
                </div>

                <!--Item-->
                <div class="bordered_block flex_block image_bck bordered_over">
                    <div class="image_over image_bck" data-image="{% static 'images/ProyEnMarcha.png' %}"></div>
                    <div class="box_content text-center">
                        <h3>Negocios en Marcha y Proyectos</h3>
                        {% placeholder 'Negocios en Marcha' or%}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt.
                        {% endplaceholder %}
                    </div>
                </div>

                <!--Item-->
                <div class="bordered_block flex_block image_bck bordered_over">
                    <div class="image_over image_bck" data-image="{% static 'images/interm_finan.png' %}"></div>
                    <div class="box_content text-center">
                        <h3>Interm. Financiera y Capital de Trabajo</h3>
                        {% placeholder 'Interm. Financiera y Capital' or%}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt.
                        {% endplaceholder %}
                    </div>
                </div>

                <!--Item-->
                <div class="bordered_block flex_block image_bck bordered_over">
                    <div class="image_over image_bck" data-image="{% static 'images/InvInmo.png' %}"></div>
                    <div class="box_content text-center">
                        <h3>Inmuebles en Venta</h3>
                        {% placeholder 'Inmuebles en venta' or%}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt.
                        {% endplaceholder %}
                    </div>
                </div>

                <!--Item-->
                <div class="bordered_block flex_block image_bck bordered_over">
                    <div class="image_over image_bck" data-image="{% static 'images/ProyEnMarcha.png' %}"></div>
                    <div class="box_content text-center">
                        <h3>Proyectos Inmobiliarios</h3>
                        {% placeholder 'Proyectos Inmobiliarios' or%}
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt.
                        {% endplaceholder %}
                    </div>
                </div>

            </div>
            <!--Wrapper End-->
        </div>
    </section>
    <!-- Our Team End -->


{% endblock %}
